{% extends "base.html" %}
{% block title %}Обратная связь{% endblock title %}
{% block content %}
  {% load user_filters %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="shadow bg-body rounded">
        <div class="card-header">
          <h1 class="text-center">Обратная связь</h1>
        </div>
        <div class="card-body">
          <form method="POST" action="">
            {% csrf_token %}

            {% for field in form %}
              {% include 'includes/template_form.html' %}
            {% endfor %}

            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
              <label class="form-check-label" for="validationFormCheck1">Согласиться с условиями и положениями</label>
              <div class="invalid-feedback">Вы должны согласиться перед отправкой.</div>
            </div>

            <div class="d-flex justify-content-center p-3">
              <button type="submit" class="js-captcha-refresh btn btn-primary">
                Отправить
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('.js-captcha-refresh').click(function(){
      $form = $(this).parents('form');
     
      $.getJSON($(this).data('url'), {}, function(json) {
      });
     
      return false;
     });
  </script>

{% endblock %} 