{% extends 'base.html' %}

{% block title %}Изменение пароля {{ user.get_full_name }}{% endblock title %}

{% block content %}
{% include 'includes/switcher_profile.html' %}

     <article class="col-12 col-md-9">
       <div class="card-body">
          <form method="post" action="{% url 'users:password_change' %}">

            {% csrf_token %}
            {% for field in form %}
              {% include 'includes/template_form.html' %}
            {% endfor %}

            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                Изменить пароль
              </button>
            </div>
          </form>
        </div>
      </article>
    </div>
  </div>
</div>

{% endblock content %}
